body {
    font-weight: normal;
    font-size: 14px;
    font-family: 'Microsoft YaHei', Verdana, Arial, Helvetica, sans-serif;
    color: #333333;
    overflow-x: hidden;
}

ul,
ol {
    list-style: none;
    text-indent: 0;
    list-style-position: outside;
}

img {
    border: 0;
}

b {
    font-weight: normal
}

h1,
h2,
h3,
h4,
p,
div,
span {
    line-height: 1;
}


/* link : style */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-indent: 0;
}

.p-bg {
    background: #fafafa;
}


/*clear*/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

.contener {
    width: 1200px;
    margin: auto;
}

.m-width {
    min-width: 1200px;
}


/* 导航 */

.nav-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    padding-top: 20px;
    transition: all 0.2s;
    height: 60px;
}

.nav-wrap.nav-active {
    background: #fff;
    height: 300px;
    transition: all 0.2s;
    transform-origin: top center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo {
    width: 130px;
    height: 40px;
    background: url(../img/common/logo.png) no-repeat left top;
}

.nav-active .nav .logo,
.nav-wrap-sub .nav .logo {
    background: url(../img/common/logo.png) no-repeat left bottom;
}

.nav .nav-list {
    width: 660px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .nav-list li>a {
    font-size: 16px;
    color: #fff;
}

.nav .nav-list li {
    position: relative;
}

.nav .nav-list li .nav-sub {
    position: absolute;
    bottom: -230px;
    height: 230px;
    text-align: center;
    width: 100%;
    display: none;
    transition: bottom 0.5s;
}

.nav .nav-list li .nav-sub a {
    font-size: 16px;
    color: #888;
    position: relative;
}

.nav .nav-list li .nav-sub a:hover {
    color: #000;
}

.nav .nav-list li>a::after {
    content: '';
    display: block;
    clear: both;
    position: absolute;
    width: 100%;
    height: 4px;
    background: #ff6a00;
    bottom: -14px;
    transform: rotateY(90deg);
    transition: all 0.3s;
}

.nav .nav-list li>a:hover::after {
    transform: rotateY(0);
    transition: all 0.3s;
}

.nav .nav-list li .nav-sub p {
    height: 50px;
}

.lang {
    color: #fff;
    font-size: 16px;
    width: 96px;
    height: 30px;
    text-align: center;
    display: inline-block;
    line-height: 30px;
    border: 1px solid #fff;
    border-radius: 4px;
}

.nav-active .nav .nav-list li>a,
.nav-wrap-sub .nav .nav-list li>a {
    color: #000;
}

.nav-active .lang,
.nav-wrap-sub .lang {
    background: #ff6a00;
    border: 1px solid #ff6a00;
}


/* 子页面的导航 */

.nav-wrap-sub {
    height: 90px;
    background: #fff;
    padding-top: 24px;
}


/* footer */

.foot-wrap {
    background: #f9f9f9;
}

.foot-wrap .foot-top {
    border-bottom: 1px solid #ededed;
    padding: 34px 0;
    font-size: 20px;
    color: #666666;
}

.foot-wrap .foot-top .icon-wrap {
    display: flex;
    width: 94px;
    height: 24px;
    justify-content: space-between;
}

.foot-wrap .foot-top .icon {
    width: 32px;
    height: 24px;
    position: relative;
    cursor: pointer;
}

.foot-wrap .foot-top h2 {
    float: left;
    font-size: 20px;
    color: #666;
    font-weight: normal;
    padding-right: 40px;
}

.foot-wrap .foot-top .icon:nth-child(1) {
    background: url(../img/common/footIcon.png) no-repeat left bottom;
}

.foot-wrap .foot-top .icon:nth-child(2) {
    background: url(../img/common/footIcon.png) no-repeat right bottom;
}

.foot-wrap .foot-top .icon:nth-child(1):hover {
    background: url(../img/common/footIcon.png) no-repeat left top;
}

.foot-wrap .foot-top .icon:nth-child(2):hover {
    background: url(../img/common/footIcon.png) no-repeat right top;
}

.foot-wrap .foot-top .icon img {
    position: absolute;
    width: 200px;
    height: 200px;
    top: -210px;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    transition: all 0.3s;
}

.foot-wrap .foot-top .icon:hover img {
    display: block;
    transition: all 0.3s;
}

.foot-wrap .foot-bottom {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
}

.foot-wrap .foot-bottom .left ul {
    display: flex;
    padding-bottom: 14px;
}

.foot-wrap .foot-bottom .left ul li a {
    font-size: 18px;
    color: #666;
    width: 126px;
    border-right: 2px solid #707070;
    text-align: center;
    display: inline-block;
}

.foot-wrap .foot-bottom .left ul li:nth-child(1) a {
    width: 117px;
    text-align: left;
}

.foot-wrap .foot-bottom .left ul li:nth-last-child(1) a {
    border-right: 0;
}

.foot-wrap .foot-bottom .left p {
    color: #999;
    font-size: 14px;
}


/* 子页的标题 */

.tit-wrap-subpage {
    width: 100%;
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
}

.tit-wrap-subpage h2 {
    font-size: 30px;
    color: #333;
    position: relative;
    font-weight: normal;
}

.tit-wrap-subpage h2>span {
    font-size: 20px;
    color: #ff6a00;
    padding-left: 10px;
}

.tit-wrap-subpage h2::after {
    content: '';
    display: block;
    clear: both;
    width: 60px;
    height: 3px;
    background: #ff6a00;
    position: absolute;
    bottom: -15PX;
    left: 0;
}

.tit-wrap-subpage a {
    font-size: 16px;
    color: #666;
}

.tit-wrap-subpage a:hover {
    color: #ff6a00;
    transition: 0.3s;
}


/* 二级页面当当前位置 */

.news-tab {
    width: 100%;
    height: 60px;
    background: #f9f9f9;
    border-bottom: 1px solid #ededed;
    padding-top: 14px;
}

.news-tab ul li {
    width: 134px;
    text-align: left;
    float: left;
}

.news-tab ul li a {
    font-size: 16px;
    color: #666;
    width: 85px;
    height: 32px;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    line-height: 32px;
}

.news-tab ul li.act a {
    color: #fff;
    background: #ff6a00;
}

.newsList-tab {
    padding-top: 0;
}

.news-tab .location-tag {
    font-size: 16px;
    color: #666;
    font-size: 16px;
    color: #666;
    height: 60px;
    line-height: 60px;
}

.news-tab .location-tag span {
    color: #ff6a00;
}


/* 分页 */

.page-wrap {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 70px;
}

.page-wrap .page-cont {
    display: flex;
}

.page-wrap .page-cont a {
    width: 98px;
    height: 38px;
    display: block;
    background: #f6f6f6;
    border: 1px solid #e5e5e5;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    color: #333;
    position: relative;
}

.page-wrap .page-cont a::after {
    content: '';
    display: block;
    clear: both;
    position: absolute;
    width: 8px;
    height: 10px;
    background: url(../img/news/pageIcon.png) no-repeat 0 0;
    background-size: auto 100%;
    left: 10px;
    top: 50%;
    margin-top: -5px;
}

.page-wrap .page-cont a.page-r-btn {
    padding-right: 10px;
}

.page-wrap .page-cont a.page-r-btn::after {
    left: auto;
    right: 10px;
    transform: rotate(180deg);
}

.page-wrap .pageCount {
    height: 38px;
    line-height: 36px;
    font-size: 16px;
    color: #333;
    padding-left: 15px;
}

.page-wrap .page-cont .pageIndex>span {
    width: 38px;
    height: 38px;
    background: #f6f6f6;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    display: block;
    float: left;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
    font-size: 16px;
}

.page-wrap .page-cont .pageIndex>span:hover {
    background: #ff6a00;
    color: #fff;
}

.page-wrap .page-cont .pageIndex>span:nth-last-child(1) {
    border-right: none;
}