.banner {
    width: 100%;
    height: 390px;
    position: relative;
    padding-top: 90px;
    background: url(../img/team/teamBanner.jpg) no-repeat center bottom;
}

.teamWrap .part1 {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 70px;
}

.teamWrap .part1 .cont-list li {
    background: #fafafa;
    padding: 20px 40px 20px 20px;
    display: flex;
    margin-bottom: 10px;
}

.teamWrap .part1 .cont-list li:last-child {
    margin-bottom: 0;
}

.teamWrap .part1 .cont-list li .img {
    width: 180px;
    flex: 0 0 180px;
    height: 220px;
}

.teamWrap .part1 .cont-list li .des {
    padding-left: 30px;
}

.teamWrap .part1 .cont-list li .des h3 {
    font-size: 18px;
    font-weight: bold;
    padding: 20px 0;
}

.teamWrap .part1 .cont-list li .des h3 span {
    font-weight: normal;
    display: block;
    font-size: 15px;
    color: #666;
    padding-top: 10px;
}

.teamWrap .part1 .cont-list li .des p {
    font-size: 15px;
    color: #666;
    line-height: 1.6;
}


/* part2 */

.teamWrap .part2 {
    padding-bottom: 70px;
}

.teamWrap .part2 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.teamWrap .part2 li {
    flex: 0 0 260px;
    height: 368px;
    background: #fafafa;
    margin-bottom: 30px;
    text-align: center;
}

.teamWrap .part2 li:nth-of-type(n+5) {
    margin-bottom: 0;
}

.teamWrap .part2 li img {
    display: block;
}

.teamWrap .part2 li h3 {
    font-size: 20px;
    color: #333;
    padding: 15px 0 13px;
}

.teamWrap .part2 li p {
    font-size: 16px;
    color: #666;
}

.teamWrap .part2 li p span {
    display: block;
    padding-top: 5px;
}